@use "sass:math"; 
@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

:root{
    --FF: 'Poppins', sans-serif;
    --WGHT-BOLD: 700;

    --length:min(1100px, 95%);
}

@function toRem( $unit, $rem:16){
    @return math.div($unit, $rem) * 1rem
};

%length{
    inline-size: var(--length);
    margin-inline: auto;
}


body{
    font-family: var(--FF);

    overflow-x: hidden;
    overflow-inline: hidden;
}

a{
    display: inline-block;
    text-decoration: none;
}
button{
    font-family: inherit;
}


header{
    background-color: #fff;

    position: fixed;
    inset-inline: 50% auto;
    inset-block: 0 auto;    
    z-index: 99;
    transform: translateX(-50%);
    
    inline-size: 100%;

    >.wrap{
        
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: toRem(45.43);
        
        block-size: toRem(88);
        inline-size: min(1100px, 95%);
        margin-inline: auto;
    
        
        
        >*:last-child{
            margin-inline: {
                start:auto;
                block:0;
            };
        }
    
        >.D_nav{
            >*{
                color: #9E9AA8;
                
                font-size: toRem(15);
                line-height: normal;
    
                font-weight: var(--WGHT-BOLD);
    
                margin-inline: {
                    start: toRem(30);
                };
                
                &:first-child{
                    margin: 0;
                }
                &:hover{
                    color: #34313D; 
                }
                
            }
        }
    
        >.createButtons{
            >*{
                inline-size: toRem(105);
                block-size: toRem(40);
    
                border-radius: toRem(28);
                background: #2BD0D0;
    
                font-family: inherit;
                font-weight: var(--WGHT-BOLD);
    
                color: #fff;
                
                border: none;
    
                margin-inline: {
                    start: toRem(37);
                };
    
                cursor: pointer;
    
                &:first-child{
                    margin: 0;
                }
    
                transition: background .2s ease;
    
                &.loginBtn{
                    background-color: transparent;
                    height: auto;
                    color: #9E9AA8;
                }
                &.signBtn:hover{
                    background: #9AE3E3;
                }
            }
        }
        .burger {
            position: relative;
            width: 40px;
            height: 30px;
            background: transparent;
            cursor: pointer;
            display: block;
            
        }
          
        .burger input {
          display: none;
        }
        
        .burger span {
          display: block;
          position: absolute;
          height: 4px;
          width: 100%;
          background: black;
          border-radius: 9px;
          opacity: 1;
          left: 0;
          transform: rotate(0deg);
          transition: .25s ease-in-out;
        }
        
        .burger span:nth-of-type(1) {
          top: 0px;
          transform-origin: left center;
        }
        
        .burger span:nth-of-type(2) {
          top: 50%;
          transform: translateY(-50%);
          transform-origin: left center;
        }
        
        .burger span:nth-of-type(3) {
          top: 100%;
          transform-origin: left center;
          transform: translateY(-100%);
        }
        
        .burger input:checked ~ span:nth-of-type(1) {
          transform: rotate(45deg);
          top: 0px;
          left: 5px;
        }
        
        .burger input:checked ~ span:nth-of-type(2) {
          width: 0%;
          opacity: 0;
        }
          
        .burger input:checked ~ span:nth-of-type(3) {
          transform: rotate(-45deg);
          top: 28px;
          left: 5px;
        }

        >.M_nav{
            border-radius: 10px;
            background: #3A3054;
            display: flex;
            flex-direction: column;
            gap: toRem(30);
            position: absolute;
            inset-inline: 50% auto;
            transform: translateX(-50%);
            inset-block: toRem(100) auto;
            padding-block: toRem(40);
            padding-inline: toRem(24);
            text-align: center;
            z-index: 98;

            inline-size: min(327, 95%);
            transition: opacity .3s ease;

            &[data-state="close"]{
                opacity: 0;
                pointer-events: none;
            }

            &[data-state="open"]{
                opacity: 1;
                pointer-events: fill;
            }

            >a{
                color: #FFF;
                font-size: toRem(18);
                line-height: normal;
                font-weight: var(--WGHT-BOLD);
                &:hover{
                    color: #2BD0D0;
                }
            }
            >.createButtons{
                display: flex;
                flex-direction: column;
                gap: toRem(24);

                border-block-start: 1px solid #9E9AA8;
                padding-block-start: toRem(30);
                >button{
                    cursor: pointer;
                    border-radius: 28px;
                    background: #2BD0D0;
                    block-size: toRem(48);
                    border: none;
                    color: #FFF;
                    font-size: toRem(18);
                    line-height: normal;
                    font-weight: var(--WGHT-BOLD);
                    &.loginBtn{
                        background-color: transparent;
                        height: auto;
                    }
                    &.signBtn:hover{
                        background: #9AE3E3;
                    }
                }
            }
        }
        @media (width>775px) {
            >.burger{
                display: none;  
            }
        }
        
        @media(width<775px){
            >.D_nav,>.createButtons{
                display: none;
            }
        }
    }
}

.wrapper{
    padding-block: {
        start:toRem(88);
        end: 0;
    };

    overflow-x: hidden;
    overflow-inline: hidden;
    
    background: #fff
}

.intro{
    @extend %length;

    display: flex;
    align-items: center;

    padding-block: toRem(139);

    >*{
        flex: 1 1 auto;
    }
    >.introArticle{
        max-inline-size: toRem(564);
        >*{
            margin-block-start: 5px;
            &:first-child{
                margin: 0;
            }
            &:last-child{
            margin-block-start: toRem(38);
            }
        }
        
        >.introHeader{
            color: #34313D;
            font-size: toRem(80);
            line-height: toRem(90);

            font-weight: var(--WGHT-BOLD);
            letter-spacing: -2px;
        }
        >.paraArticle{
            color: #9E9AA8;
            font-size: toRem(22);
            line-height: toRem(36);
            letter-spacing: 0.15px;
        }
    }

    >.hero{
        position: relative;
        >img{
            position: absolute;
            inset-block: 50% auto;
            transform: translateY(-50%);
            inset-inline: 87px auto;
        }
    }
    @media (width<750px) {
        flex-direction: column;
        text-align: center;
        >.introArticle{
            order: 2;
            >*{
                margin-block-start: 15px;
                &:first-child{
                    margin: 0;
                }
                &:last-child{
                margin-block-start: toRem(32);
                }
            }
            >.introHeader{
                font-size: toRem(42);
                font-weight: var(--WGHT-BOLD);
                line-height: toRem(48);
                letter-spacing: -1.05px;
            }
            >.paraArticle{
                font-size: toRem(18);
                line-height: toRem(30);
                letter-spacing: 0.123px;
            }
        }
        >.hero{
            order: 1;
            position: relative;
            >img{
                position: static;
                inset-block: auto;
                inset-inline: auto;

                inline-size: 511px;
                block-size: 337px;
                object-fit: cover;
                transform: translate(100px , -37px);
            }
        }
    }
}

.startBtn{
    inline-size: 197px;
    block-size: 56px;
    
    font-family: inherit;
    font-weight: var(--WGHT-BOLD);
    
    color: #fff;
    background: #2BD0D0;
    
    border: none;
    border-radius: 1.75rem;
    
    cursor: pointer;

    transition: background 0.2s ease;

    &:hover{
        background: #9AE3E3;
    }
}

.shortLinks{
    
    background: #EFF1F7;
    position: relative;
    z-index: 0;

    display: flex;
    flex-direction: column;
    gap: toRem(24);

    >.pattern{
        position: absolute;
        inset-inline: 0;
        inset-block: 0 auto;
        block-size: calc(168px / 2);
        background: #fff;
        z-index: 1;
    }
    
    >form{
        @extend %length;
        display: flex;
        flex-wrap: wrap;
        gap: toRem(24);
        
        padding-block: toRem(52);
        padding-inline: toRem(64);
        @media(width<750px){
            padding-inline: toRem(24);
            padding-block: toRem(24);
        }

        background: url(../images/bg-shorten-desktop.svg) no-repeat center, #3A3054;

        border-radius: 10px;

        position: relative;
        z-index: 2;


        >input{
            flex: 1 1 400px;
            border-radius: 10px;
            background: #FFF;

            padding-inline: toRem(32);
            padding-block: toRem(14);

            outline: none;

            color: #34313D;
            font-size: toRem(20);
            line-height: toRem(36);
            letter-spacing: 0.15px;

            border:3px solid transparent;
            transition: border-color .4s ease;
            &.error{
                border: 3px solid #F46363;
                &::placeholder{
                    color: #F46363;
                }
            }
        }
        >button{
            border-radius: 10px;
            background: #2BD0D0;
            inline-size: toRem(188);
            block-size: toRem(64);

            border: none;

            color: #FFF;
            font-size: toRem(20);
            line-height: normal;

            font-weight: var(--WGHT-BOLD);
            
            color: #fff;

            cursor: pointer;

            transition: all .4s ease;
            
            &:hover{
                background: #9AE3E3;
            }
            &:disabled{
                background-color: #F46363;
            }
            @media(width<779px){
                flex: 1 1 auto;
            }
        }
    } 

    .links{
        @extend %length;
        
        display: flex;
        flex-direction: column;
        gap: toRem(16);
        >li{
            border-radius: 5px;
            background: #FFF;

            display: flex;
            justify-content: space-between;

            font-size: toRem(20);
            line-height: toRem(36);
            letter-spacing: 0.15px;
            
            color: #34313D;

            padding-block: toRem(18);
            padding-inline: toRem(32);

            >.currLink{
                inline-size: 100%;
                max-inline-size: toRem(550);
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            
            >.newLink{
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: toRem(24);
                color: #2BD0D0;
                >.copyBtn{
                    inline-size: toRem(103);
                    block-size: toRem(40);
                    border-radius: 5px;
                    border: none;
                    color: #FFF;
                    font-size: toRem(15);
                    line-height: normal;
                    font-weight: var(--WGHT-BOLD);
                    cursor: pointer;
                    background: #2BD0D0;
                    &[data-act="clicked"]{
                        background: #3A3054;
                        &:hover{
                            background: #3A3054;
                        }
                    }
                    &:hover{
                        background: #9AE3E3;
                    }
                }
            }
            @media(width<1083px){
                >.currLink{
                    max-inline-size: 100%;
                }
                inline-size: min(700px, 95%);
                margin-inline: auto;
                flex-direction: column;
                align-items: start;
                justify-content: center;
                gap: 1rem;
                
                >.newLink{
                    inline-size: 100%;
                    >.copyBtn{
                        inline-size: toRem(103);
                        block-size: toRem(40);
                        border-radius: 5px;
                        border: none;
                        color: #FFF;
                        font-size: toRem(15);
                        line-height: normal;
                        font-weight: var(--WGHT-BOLD);
                        cursor: pointer;
                        background: #2BD0D0;
                        &[data-act="clicked"]{
                            background: #3A3054;
                            &:hover{
                                background: #3A3054;
                            }
                        }
                        &:hover{
                            background: #9AE3E3;
                        }
                    }
                }
            }
            @media(width<750px){
                >.currLink{
                    max-inline-size: 100%;
                    border-block-end: 1px solid #9E9AA8;
                    padding-block: 6px;
                }
                >.newLink{
                    inline-size: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: stretch;
                    gap: toRem(8);
                    >.copyBtn{
                        
                        inline-size: auto;
                        block-size: toRem(40);
                        border-radius: 5px;
                    }
                }
            }
        }
    }
}



.statsSec{
    padding-block: toRem(120);
    background: #EFF1F7;
    @media(width<750px){
        padding-block: toRem(80);
    }
    >.wrap{
        @extend %length;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: toRem(100);

        >.statsArticle{
            text-align: center;
            max-inline-size: toRem(540);
            >*{
                margin-block-start: toRem(18);
                &:first-child{
                    margin: 0;
                }
            }
            >.statsHeader{
                color: #34313D;
                font-size: toRem(40);
                font-weight: var(--WGHT-BOLD);
                line-height: toRem(48);
                letter-spacing: -1px;
            }
            >.statspara{
                color: #9E9AA8;
                font-size: toRem(18);
                line-height: toRem(32);
                letter-spacing: 0.123px;
            }
        }

        >.stats{
            display: flex;
            align-items: start;
            gap: toRem(30);

            min-block-size: 355px;

            position: relative;

            >.lineThrough{
                inline-size: 100%;
                position: absolute;
                block-size: 8px;
                background-color: #2BD0D0;
                z-index: 0;
                inset-block: 50%;
                transform: translateY(-50%);
            }
            
            >li{
                background-color: #fff;
                border-radius: 5px;
                
                padding: toRem(32);        
                padding-block-start: toRem(calc(32 + calc(88 / 2)));

                position: relative;
                z-index: 1;
                >.icon{
                    background: #3A3054;

                    inline-size: toRem(88);
                    aspect-ratio: 1;
                    border-radius: 50%;

                    display: grid;
                    place-items: center;

                    position: absolute;
                    inset-block: toRem(calc(0 - calc(88 / 2)));
                }
                >.statArticle{
                    >*{
                        margin-block-start: toRem(18);
                        &:first-child{
                            margin: 0;
                        } 
                    }
                    >.statHeader{
                        color: #34313D;
                        font-size: toRem(22);
                        line-height: normal;
                        font-weight: var(--WGHT-BOLD);
                    }
                    >.statPara{
                        color: #9E9AA8;
                        font-size: toRem(15);
                        line-height: toRem(26);
                    }
                }
                &:nth-child(1){
                    align-self: flex-start;
                }
                &:nth-child(2){
                    align-self: center;
                }
                &:nth-child(3){
                    align-self: flex-end;
                }
            }
        }
        @media (width<750px) {
            >.statsArticle{
                max-inline-size: toRem(327);

                >.statsHeader{
                    font-size: toRem(28);
                    line-height: toRem(48);
                    letter-spacing: -0.7px;
                }
                >.statspara{
                    font-size: toRem(16);
                    line-height: toRem(28);
                    letter-spacing: 0.109px;
                }
            }
            >.stats{
                display: flex;
                flex-direction: column;
                gap: toRem(92);
                position: relative;
    
                >.lineThrough{
                    inline-size: 8px;
                    block-size: 100%;
                    inset-inline: 50%;
                    inset-block: 0 auto;
                    transform: translateX(-50%);
                }
                
                >li{
                    max-inline-size: toRem(327);
                    padding: toRem(32);        
                    padding-block-start: toRem(calc(32 + calc(88 / 2)));
                    text-align: center;
                    >.icon{
                        inset-block: toRem(calc(0 - calc(88 / 2)));
                        inset-inline: 50% auto;
                        transform: translateX(-50%);
                    }
                    &:nth-child(1){
                        align-self: center;
                    }
                    &:nth-child(2){
                        align-self: center;
                    }
                    &:nth-child(3){
                        align-self: center;
                    }
                }
            }
        }
    }
}

.boostSec{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: toRem(46);

    background: url(../images/bg-boost-desktop.svg) no-repeat center,#3A3054;
    background-size: cover;

    padding-block: toRem(57);
    >.boostHeader{
        text-align: center;
        color: #FFF;
        font-size: toRem(40);
        font-weight: var(--WGHT-BOLD);
        line-height: toRem(48);
        letter-spacing: -1px;
    }
}

footer{
    background: #232127;

    padding: {
        block:toRem(72);
        inline: toRem(164) 
    };

    >.wrap{
        max-inline-size: 1400px;
        margin-inline: auto;
        
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        // gap: toRem(48);
        >.nav{
            display: flex;
            gap: toRem(78);
            >li{
                display: flex;
                flex-direction: column;
                gap: toRem(22);
                >.sectionNav{
                    color: #FFF;
                    font-size: toRem(16);
                    line-height: normal;
                    font-weight: var(--WGHT-BOLD);
                    letter-spacing: -0.25px;
                }
                >.navLinks{
                    display: flex;
                    flex-direction: column;
                    gap: toRem(10);
                    >*{
                        color: #BFBFBF;
                        font-size: toRem(15);
                        line-height: normal;
                        letter-spacing: -0.234px;
                        &:hover{
                            color: #2BD0D0;
                        }
                    }
                    @media(width<850px){
                        align-items: center;
                    }
                }
                @media(width<850px){
                    align-items: center;
                }
            }

            @media(width<1121px){
                gap: toRem(50);
            }
            @media(width<850px){
                display: flex;
                flex-direction: column;
                gap: toRem(38);
            }
        }
        >.socialMedia{
            display: flex;
            gap: toRem(24);
            >li>a{
                color: #fff;
                &:hover{
                    color:#2BD0D0
                }
            }
        }

        @media(width<850px){
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: toRem(48);
        }
        
    }
    @media(width<1121px){
        padding: {
            block:toRem(72);
            inline: toRem(100) 
        };
    }
    @media(width<999px){
        padding: {
            block:toRem(72);
            inline: toRem(50) 
        };
    }
}